/*@import url(//fonts.googleapis.com/earlyaccess/kopubbatang.css);
font-family: 'KoPub Batang', serif;*/
*{
  margin: 0;
  padding: 0px;
}
.ment1, .ment2, .ment3{
  width: 1903px;
  height: 750px;
}
.ment1{background-color: #FFF6DF;}
.ment2{background-color: #FFFFFF;}
.ment3{background-color: #F9E4B5;}

.mentp1{
  position: absolute;
  top: 450px;
  left: 350px;
  width: 500px;
  height: 400px;
  margin: 0;
  text-align: center;
  line-height: 45px;
  font-size: 30px;
}

.mentp2{
  position: absolute;
  top: 1150px;
  left: 950px;
  width: 500px;
  height: 400px;
  margin: 0;
  text-align: center;
  line-height: 45px;
  font-size: 30px;
}

.mentp3{
  position: absolute;
  top: 1950px;
  left: 350px;
  width: 500px;
  height: 400px;
  margin: 0;
  text-align: center;
  line-height: 45px;
  font-size: 30px;
}
.pic3{
  position: absolute;
  top: 1700px;
  left: 950px;
}

footer{
  text-align: center;
  margin: 20px 0 ;
}
footer a{
  text-decoration: none;
  color: black;
}
.footer_info{
  padding: 0 7px;
}
