.log_sig{
  position: relative;
  top: 5px;
  left:1400px;
  background: none;
}

.log_sig a, div.button{
    padding: 0 15px;
}

.ment0{
  display: grid;
  grid-template-columns: 1fr 1fr;
  @import url(//fonts.googleapis.com/earlyaccess/kopubbatang.css);
  font-family: 'KoPub Batang', serif;
}

.ment1{
    font-size:65px;
    text-align: right;
    position: relative;
    top: 325px;
    padding:0 50px;
    background: none;
}
.ment2{
  font-size: 60px;
  text-align: left;
  padding:0 50px;
  position: relative;
  top:250px;
  background: none;
}

  .plusment{
    font-size: 55px;
    border-top: 1px solid gray;
    text-align: center;
    position:relative;
    top: 750px;
    padding:200px;
    background: none;
  }
