* {
  margin: 0px;
  padding: 0px;
}

/*
body {
  background-image:#34495e;
}
*/

#joinForm {
  position:absolute;
  width:500px;
  height:750px;
  padding: 30px, 20px;
  background-color:#FFFFFF;
  text-align:center;
  top:40%;
  left:50%;
  transform: translate(-50%,-50%);
  border-radius: 15px;
}

#joinForm h1 {
  border-bottom: 1px solid #D8D6D6;
  width: 90%;
  padding: 20px;
}
#joinForm a{
  text-align: center;
  text-decoration: none;
  color:#FFD36E;
  font-size: 50px;
  font-weight: bold;
}

.sub_title{
  padding: 30px;
  margin-top: 10px;
  font-weight: bold;
  font-size: 30px;
}

.textForm {
  border: 2px solid #D8D6D6;
  margin: 10px 30px;
  padding: 10px 10px;
}
.textForm_ment{
  text-align: left;
  margin: 0 30px;
  padding-top: 20px;
}

.id {
  width: 100%;
  border:none;
  outline:none;
  color: #636e72;
  font-size:16px;
  height:25px;
  background: none;
}

.pw {
  width: 100%;
  border:none;
  outline:none;
  color: #636e72;
  font-size:16px;
  height:25px;
  background: none;
}

.name {
  width: 100%;
  border:none;
  outline:none;
  color: #636e72;
  font-size:16px;
  height:25px;
  background: none;
}

.email {
  width: 100%;
  border:none;
  outline:none;
  color: #636e72;
  font-size:16px;
  height:25px;
  background: none;
}

.nickname {
  width: 100%;
  border:none;
  outline:none;
  color: #636e72;
  font-size:16px;
  height:25px;
  background: none;
}

.gender_M, .gender_W{
  padding: 0 50px;
}


.btn {
  position:relative;
  left:45%;
  transform: translateX(-50%);
  margin: 40px 0;
  width:90%;
  height:50px;
  background: #FFD36E;
  color:white;
  font-size: 20px;
  border:none;
  cursor:pointer;
  display:inline;
}
